.tarjeta-proyecto-detalle {
    background-color: #333;
    border: 3px solid #FFCC00;
    border-radius: 35px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Cabecera */
.cabecera-proyecto {
    display: flex;
    justify-content: space-between; /* Empuja el H2 a la izquierda y la flecha a la derecha */
    align-items: center; /* Los centra verticalmente entre sí */
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: white;
}

.categoria {
    background-color: #FFCC00;
    color: black;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
}

/* Info superior */
.info-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.estado-proyecto {
    display: flex;
    align-items: center;
    gap: 15px;
}

.validado {
    color: #00ff88;
    font-size: 1.5rem;
}

.no-validado {
    color: red;
    font-size: 1.5rem;
}

/* Botón descargar */
.boton-descargar {
    background: linear-gradient(to bottom, #f9d423 0%, #ffcc00 100%);
    border: 2px solid #000;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* Descripción */
.descripcion-proyecto p {
    color: #ccc;
}

/* Repo */
.repo a {
    color: #FFCC00;
    text-decoration: none;
}

.boton-descargar {
    background: linear-gradient(to bottom, #f9d423 0%, #ffcc00 100%);
    border: 2px solid #000;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
    text-transform: uppercase;
}

.contenedor-principal {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: nowrap; /* 🔥 IMPORTANTE */
}

.seccion-derecha-dinamica {
    flex: 1;
    min-width: 0; /* 🔥 MUY IMPORTANTE en flex */
}

/* Estilo del botón (mantenemos el círculo neón) */
.boton-volver-curvo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #FFCC00;
    border: 2px solid #FFCC00;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s ease;
    /* Efecto Neón */
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.6), 
                inset 0 0 5px rgba(255, 204, 0, 0.4);
}

.boton-volver-curvo:hover {
    background-color: #FFCC00;
    color: #1a1a1a;
    box-shadow: 0 0 20px #FFCC00;
    transform: scale(1.1) rotate(-15deg);
}